%img{src: "https://s3-eu-west-1.amazonaws.com/familyweekend/static/Sport.jpg"}
%main
  %aside
    %h2 The Story
  %section{class: "body-text"}
    %p The group who gathered at St Lawrence Bay (Essex) on a Friday evening in April 1972 did not realise that they were starting an annual tradition. Mina, Maxwell, Geoffrey, David and their families came together for the weekend because they had decided to use some money from a family trust to fulfil their mother, Katie’s wish that they would keep together has a family.
    %p The accommodation at St Lawrence Bay, chosen by Jane and Geoffrey was simpler than we have become used to. We were in ‘chalets’ which were probably ex-army Nissen huts, and the washing facilities were so uninviting that Jane took the precaution of leaving a deodorant tactfully on our pillows. These early pioneers recall the equipment needed for young children, including kettles and high chairs, not then on general supply in hotels.
    %p In 1972 there were four children: Jackie and Penny Garfit, Samantha and Alison Stern (the baby of the weekend). But most years thereafter there was a new addition to coo over, (and in productive years, two) until Adam in 1992, who had to bear the brunt of being the youngest until Penny introduced her daughter, Jemima in 2005. 
    %p For the first 22 years, Jane and Geoffrey were the organisers, finding hotels across the South East that would safely accommodate children and dogs, including Jesper, Henry and two Trompers. There were several -seaside weekends (although Aldburgh was so foggy we could barely see one another). Highlights of these early years included Philip Marsh climbing on a roof in West Wittering, and Thomas and Henry finding a bottle of champagne in a tree – the treasure hunt for a group of Weightwatchers – at Avisford Park.
    %p Like many annual events, the Stern family weekend has some rituals. For example, the children would have tea together around 6 pm, and it was generally accepted that they would graduate to dinner with the grownups at the age of ten.  Anthony has for many years organised the Sunday morning ‘photo which enhances this website.  
    %p A popular feature in early years was the Saturday afternoon film (later video) show provided by David, with the help of Anthony and Jo. Part nostalgia, but also a good way of keeping the kids amused, every year we watched avidly the film records of all the previous years and wondered at how much we had all grown. Wisely, David discontinued the event once it started to threaten before dinner drinks.  Now with thanks to Carly Hartley we can all share those early memories, watching on our personal devices.  
    %p Another early tradition that has remained is the annual discussion/argument about what to do on Saturday. A newcomer helpfully suggested that we try to sort this out on the Friday evening, but it has never caught on, probably because the agenda for that evening is firmly catching up on what has happened since we last met. So Saturday breakfast is the time for deciding what to do on Saturday, with a decision being made, if we are lucky, by about 10.30 am, or, one awful year, midday. Old hands either stay well away or go and do their own thing. In earlier years, locations with wild animals and birds, vintage cars and trains (preferably steam) were popular, and boat trips were a regular feature. In later years, if there was horseracing nearby, it was a safe bet (sorry) that a reasonably large contingent would head that way, while the more cultured among us got out their National trust handbooks. Although the visit to ‘Dickens World’ in Chatham in 2009 could hardly be described as culture. A fourth generation has meant the re-introduction of activities for a younger age group.  But the Saturday pub lunch has remained a staple ingredient, and with the aid of technology a lot easier to organise..
    %p In 1993 Felicity suggested that we try a conference centre, Elvetham Hall, she had used at work and thought would be a good venue. It was for 10 happy years. Each year we returned we were greeted like old friends. Felicity took over the organising, with Diana’s help, when Jane became too ill, and having had no complaints (yet), is happy to continue.
    %p The fifth ‘Stern’, Anne Joseph, used to come, with Leonard, for Sunday lunch. Later she joined us for a few years at Elvetham, which she greatly enjoyed. However, this could be a little worrying, as she could be a bit unpredictable – once accidentally locking herself in her room. One year we were joined by Martin, her son, with his wife Maria-Ines on a visit from Bolivia, and Martin’s son Peter, and his family have also joined on occasion.  
    %p We used to wonder how long the weekend would continue... But with the fourth generation growing, and attendance strong, perhaps we should have confidence for the next 40 years!
    %p (With apologies for any mistakes caused by the notoriously poor Stern memories - ed)


  %aside
    %h2 Previous Years
  %section{class: "body-text"}
    %table{class: "table table-condensed"}
      %thead
        %tr 
          %th Year
          %th Location
      %tbody
        %tr
          %td 1972
          %td The Country Club, St Lawrence Bay, Essex
        %tr 
          %td 1973
          %td The Swan Hotel , Bibury, Gloucestershire
        %tr 
          %td 1974
          %td The Bull Hotel, Long Melford, Suffolk
        %tr 
          %td 1975
          %td Master Builder’s House Hotel, Beaulieu, Hampshire
        %tr 
          %td 1976 - 77
          %td Roman Way, West Wittering, Sussex
        %tr 
          %td 1978
          %td Brudenell Hotel, Aldburgh, Suffolk
        %tr 
          %td 1979
          %td Dormy House Hotel, Littlestone-on-Sea, Kent
        %tr 
          %td 1980 - 81
          %td Avisford Park, Arundel, Sussex
        %tr 
          %td 1982
          %td Berystede Hotel, Ascot, Berkshire
        %tr 
          %td 1983
          %td Nr Warwick, Warwickshire
        %tr 
          %td 1984 - 85
          %td Avonmouth Hotel, Mudeford, Dorset
        %tr 
          %td 1986
          %td Weston Manor Hotel, Weston on the Green, Oxfordshire
        %tr 
          %td 1987 - 88
          %td Avonmouth Hotel, Mudeford, Dorset
        %tr 
          %td 1989
          %td De la Bere, Cheltenham, Gloucestershire
        %tr 
          %td 1990
          %td Hare &amp; Hounds Hotel, Westonbirt, Gloucestershire
        %tr 
          %td 1991
          %td The Upper Reaches Hotel, Nr. Abingdon, Oxfordshire
        %tr 
          %td 1992
          %td The Swan’s Nest Hotel, Stratford-upon-Avon
        %tr 
          %td 1993 - 2002
          %td Elvetham Hall, Hartley Witney, Hampshire
        %tr 
          %td 2003
          %td Savill Court, Runnymede, Berkshire
        %tr 
          %td 2004
          %td The George, Pangbourne, Berkshire
        %tr 
          %td 2005
          %td Weston Manor Hotel, Weston on the Green, Oxfordshire
        %tr 
          %td 2006
          %td The Inn, Woburn, Bedfordshire
        %tr 
          %td 2007
          %td Barnett Hill, Nr. Guildford, Surrey
        %tr 
          %td 2008
          %td Ghyll Manor, Horsham, West Sussex
        %tr 
          %td 2009
          %td Marriott Tudor Park, Bearsted, Kent
        %tr 
          %td 2010
          %td Elcot Park Hotel, Nr Newbury, Berkshire
        %tr 
          %td 2011 - 2014
          %td Pear Tree at Purton, Swindon, Wiltshere