!!! 5
%html
  %head
    %title Stern Family Weekend
    %link{rel: 'stylesheet', href: '/stylesheets/reset.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}

  %body
    %header
      %h1 Stern Family Weekend
      - if current_user
        %span Signed in
        %form{id: "sign-out", method: "post", action: "/sessions"}
          %input{type: "hidden", name: "_method", value: "delete"}
          %input{type: "submit", class: "button", value: "Sign Out"}
      %nav
        %ul
          %li
            %a{href: '/', class: nav_class_for('') } Home
          - pages = ['history', 'next-year']
          - pages.each do |page|
            %li
              %a{href: "/#{page}", class: nav_class_for(page) }= page.capitalize.gsub('-', ' ') 

    = yield

    %footer
      %p &copy; Stern Family #{Time.now.year}