%img{src: "https://dl.dropboxusercontent.com/u/617495/FamilyWeekend/pear-tree-purton.jpg"}
%main
  %aside
    %h2 Next Year
  %section{class: "body-text"}
    %dl
      %dt When?
      %dd 24-26 April 2015
      %dt Where?
      %dd The Pear Tree at Purton
    %div{class: "map-container"}
      %iframe{width: "425", height: "200", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: "http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=The+Pear+Tree+At+Purton,+Church+Street,+Purton&aq=1&oq=the+pear+tree+&sll=51.528642,-0.101599&sspn=0.480152,0.977783&ie=UTF8&hq=The+Pear+Tree+At&hnear=Church+St,+Purton,+Swindon+SN5+4DR,+United+Kingdom&ll=51.582042,-1.86397&spn=0.003747,0.007639&t=m&z=14&iwloc=A&cid=10995495459258667441&output=embed"}
      / %br
      / %small
      /   %a{href: "http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Pear+Tree+At+Purton,+Church+Street,+Purton&amp;aq=1&amp;oq=the+pear+tree+&amp;sll=51.528642,-0.101599&amp;sspn=0.480152,0.977783&amp;ie=UTF8&amp;hq=The+Pear+Tree+At&amp;hnear=Church+St,+Purton,+Swindon+SN5+4DR,+United+Kingdom&amp;ll=51.582042,-1.86397&amp;spn=0.003747,0.007639&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=10995495459258667441", style: "color:#0000FF;text-align:left"} View Larger Map
    %address
      %strong Pear Tree at Purton<br />
      Church St.<br />
      Swindon<br />
      Wiltshere<br />
      SN5 4ED