%section{class: "main-section"}
  %h2 Next Year
  %section{class: "body-text"}
    %dl
      %dt When?
      %dd 20-22 April 2012
      %dt Where?
      %dd The Pear Tree at Purton
    %address
      %strong Pear Tree at Purton<br />
      Church St.<br />
      Swindon<br />
      Wiltshere<br />
      SN5 4ED