%main
  %header{class: 'full-width-header'}
    %h1 Photos
  %section{class: 'photo-container'}
    - @photos.each do |photo|
      %figure
        %a{href: "/photos/#{photo.id}"}
          %img{src: thumb_url(photo)}
        %figcaption= photo.year
    %a{href: "/photos/new", class: 'button'} Upload Photo