%main
  %article{class: "letter"}
    %p It was lovely to have a record turn out at this year’s family weekend, and I am already thinking how to ensure how we can keep it up.  I think everyone agrees that the Pear Tree at Purton is a wonderful venue for the weekend, and we have really enjoyed our 4 years there.  While the 2014 weekend is fresh in your memory, I would  like to hear your view on whether we should go back there for (at least) another year.  I think the reasons why it has worked so well are:
    %ul
      %li At a small hotel we get nice personal treatment, and for at least some of the time have the place to ourselves.  The children are not far away during the evening. 
      %li The accommodation without being de luxe is very comfortable
      %li The food is good, and we can have dinner in a private dining room
      %li The grounds are spacious and safe- plenty of room for small children to run about, and no traffic to worry us.
      %li There is a reasonable amount to do in the locality
      %li It is competitively priced.
      %li The location is good, near a motorway, making not too horrendous a journey for the Cornish family, and near a mainline station which is good for those coming by train. 
      %li And we are made to feel very welcome at the Pear Tree.
    %p Set against all these plus factors are the negative ones
    %ul
      %li That this year there were simply too many of us! Friday night is fine, but this year for the first time 4 of us had to stay somewhere else on Saturday night. This might have to happen again, and some without children might have to ‘volunteer’ to go to a nearby hotel.
      %li It is also true that there are limited facilities at the Pear Tree; in the past we have enjoyed hotels or conference centres where there is a swimming pool/gym/snooker. 
      %li So, we need to decide whether to continue at the Pear Tree, with the possibility of several people having to stay nearby on the Saturday night, or look for somewhere else? From the experience Geoffrey and I have had over the years, of looking for venues, it is surprisingly difficult to find a place that has as many of the plus features listed above as the Pear tree, but we will go looking if the majority view is in favour of going elsewhere. Or any of you might have suggestions? 
    %p Please tell me what you think - should we go back to the Pear Tree, or is it time to look for somewhere else?
    %p Love, as ever
    %p{class: "latter-signature"} Felicity