%main
  %header{class: 'full-width-header'}
    %h1 Stern Family Weekend Video
  %figure{class: 'video-container'}
    %iframe{width: "560", height: "315", src: "#{ENV['youtube_embed_source']}", frameborder: "0", allowfullscreen: ""}
    %figcaption
      %p This film is the edited highlights of over 40 years of footage from the yearly tradition of the Stern family reunion.
      %p For more information, contact Carly Hartley on carly(dot)hartley(at)gmail(dot)com
