%main
  %header{class: 'full-width-header'}
    %h1 Stern Family Weekend Photo
  %figure{class: 'video-container'}
    %iframe
    %figcaption
      %p This film is the edited highlights o over 40 years of footage from the yearly tradition of the Stern family reunion.
      %p For more information, contact Carly Hartley on carly(dot)hartley(at)gmail(dot)com
