*
  box-sizing: border-box

body
  background-color: $body-background
  font-family: $sans-serif
  color: $text-color
  
.container
  max-width: 1170px
  width: 95%
  margin-left: auto
  margin-right: auto
  
h1
  font-size: 3em
  font-weight: bold
  margin-top: 0.6em
  margin-bottom: 0.6em
  
a
  text-decoration: none
    
strong
  font-weight: bold
    
.top-bar
  @extend .container
  display: flex
  justify-content: space-between
    
  .user-links
    margin-top: 3em
    form
      display: inline-block
      margin-left: 1em
      vertical-align: text-top
      position: relative
      bottom: 2px
  
nav 
  @extend .container
    
  ul
    background-color: #fff

    li
      display: inline-block

      a
        color: #777777
        padding: 0.7em 1em
        display: block

        &:hover
          color: #333333
          
        &.current
          background-color: #aaa
          color: #fff

body > img
  display: block
  @extend .container
    
main
  background-color: $background
  @extend .container
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap

.full-width-header
  width: 100%
  background-color: $banner-color
  color: #fff
  padding: 1.75em
  
  h1
    margin: 0
  
aside
  padding: 1.25em
  -webkit-flex: 33% 3
  flex: 33% 3
  
  &:nth-of-type(2)
    border-top: 1px solid #eee
  
  h2
    font-size: 2.25em
    font-weight: bold
    
.body-text
  padding: 1.2em
  -webkit-flex: 66% 7
  flex: 66% 7
  
  &:nth-of-type(2)
    border-top: 1px solid #eee
  
  p
    margin-bottom: 0.75em
    line-height: 1.25em

table
  width: 100%
    
th, td
  padding: 4px 5px
  text-align: left

th
  font-weight: bold
    
td
  border-top: 1px solid #ddd
  line-height: 1.25em

dl
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  width: 400px
  margin-bottom: 2em

dt, dd
  font-size: 1.25em
  padding: 0.75em 1em
  margin-bottom: 0.5em
  color: #000
  
dt
  -webkit-flex: 25% 1
  flex: 25% 1
  background-color: #ddd
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px
  
dd
  -webkit-flex: 75% 3
  flex: 75% 3
  background-color: #eee
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.map-container
  display: inline-block
  max-width: 65%
  vertical-align: text-top
  
address
  width: 30%
  line-height: 1.25em
  display: inline-block
  vertical-align: text-top
  padding-left: 1em
  
#sign-in
  width: 50%
  margin: 2em auto
  
  input[type=text], input[type=password]
    width: 100%
    font-size: 1.5em
    padding: 0.75em
    border: 0
    background-color: rgba(203, 203, 203, 0.31)
    margin-bottom: 1em
    
  .form-button
    font-size: 1.25em
    padding: 0.5em 0.75em
    border: none
    background-color: #05d125
    color: #fff
    border-radius: 3px
    cursor: pointer
      
    &:hover
      background-color: lighten(#05d125, 2%)
    
footer
  @extend .container
  
  p
    font-size: 75%
    margin-top: 1em
    margin-bottom: 1em
    color: #95a5a6