.admin-news-post-list
  padding: 1em
  width: 100%

.admin-news-post-list-item
  width: 100%

  a
    background-color: #f7f7f7
    display: block
    margin-bottom: 0.2em
    padding: 1em
    width: 100%

    &:hover
      background-color: #ddd

  h3
    display: inline-block
    color: $featured-color
    font-size: 1.75em
    font-weight: 500

.admin-news-post-list-item-detail
  margin-left: 1em
  font-size: 1em
  color: #b7b7b7
