%main.admin
  %header.full-width-header.news-post-list-header
    %h1 Manage News Posts
    %a.new-post-button{href: '/news/add'} + New Post
  %ul.admin-news-post-list
    - @news_posts.each do |post|
      %li.admin-news-post-list-item
        %a{href: "/news/#{post.id}/edit"}
          %h3= post.title
          %span.admin-news-post-list-item-detail= post.date
        %a.admin-news-post-link-out{href: "/news/#{post.id}"} View Original

